{% extends "base.html" %}

{% block content %}
    <h1>Server sent events (SSE) test</h1>
    Open dev tools console and network tab to see details
    <br>
    <br>

    Subscribe to
    <button type="button" class="btn btn-primary" id="listen-time-sse" title="Get server time">Background task</button>
    <button type="button" class="btn btn-primary" id="listen-redis-sse" title="Listen redis messages">Redis</button>
    <button type="button" class="btn btn-primary" id="listen-kafka-sse" title="Listen kafka messages">Kafka</button>

    <br>
    Open a new tab to <a href="/message/" target="_blank">send messages</a>
    <br>
    <br>
    <pre><code id="log"></code></pre>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const logPanel = document.querySelector('#log');
            const log = (message) => {
                console.log(message);
                logPanel.innerHTML = message + '<br />' + logPanel.innerHTML;
            }

            document.querySelector('#listen-time-sse').addEventListener('click', (e) => {
                initSse('/sse/');
            })
            document.querySelector('#listen-redis-sse').addEventListener('click', (e) => {
                initSse('/sse-redis/');
            })
            document.querySelector('#listen-kafka-sse').addEventListener('click', (e) => {
                initSse('/sse-kafka/');
            })

            const closeSse = () => {
                if (sse && sse.readyState != sse.CLOSED) {
                    log(`Disconnecting ${sse.url}`);
                    sse.close();
                    sse = null;
                }
            }
            const initSse = (url) => {
                closeSse();

                log(`Connecting to ${url}`);
                sse = new EventSource(url);
                sse.onmessage = m => {
                    log(`Received SSE: #${m.lastEventId} - ${m.data}`);
                    if (m.data === 'EOF') {
                        closeSse()
                    }
                }
                sse.onerror = e => {
                    log(e);
                }
            }

            let sse;
            initSse('/sse/');
        });
    </script>
{% endblock %}
